@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<dynamic>
@using DotNetNuke.Web.Mvc.Helpers

@{
    Layout = "~/DesktopModules/MVC/Dnn.Szinajanlo8/Views/Shared/_Layout.cshtml";
}
<style>
    h2, h3, p {
        color: #0c5b8d;
        font-family: Verdana !important;
    }

    h2 {
        font-weight: bold;
        margin: 10px 0px 10px;
    }
</style>
<div class="container text-center">
    <h2>Kíváncsi vagy milyen falszín passzolna a szobádhoz?</h2>
    <p>Kattints az ikonra, tölts fel egy képet a belteredről, majd állítsd be a jelenlegi falszínt</p>

    <form action="@Url.Action("Index", "ImageAnalyzer")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageFile" style="cursor: pointer;">
                <img id="uploadImage" src="http://rendfejl10006.northeurope.cloudapp.azure.com:8080/images/uploadFile.png" alt="Kép feltöltése" style="width: 300px; height: 300px; border: 1px solid #ddd;" />
            </label>
            <input type="file" id="imageFile" name="imageFile" accept="image/jpeg, image/png" style="display: none;" />
        </div>

        <div class="form-group">
            <label for="wallColor">Fal színe:</label>
            <!-- Színválasztó Picker -->
            <input type="color" name="wallColor" id="wallColor" class="form-control mb-2" value="#ff8c00" style="width:30%; height:100px; margin: 0 auto"; required />
        </div>

        <button type="submit" class="btn btn-primary">Kielemzés</button>
    </form>

    @if (ViewBag.AverageColor != null)
    {
        <div class="alert alert-info mt-3">
            <strong>Átlag szín:</strong> @ViewBag.AverageColor <br />
            <strong>Hex kód:</strong> @ViewBag.BaseColorHex
            <div style="width:100px; height:100px; background-color:@ViewBag.BaseColorHex; margin-top: 10px; border: 1px solid #000;"></div>
        </div>
    }
</div>